---
import Layout from "../layouts/MainLayout.astro"
---

<Layout>
    <div class="hero">
<p>Najlepsza <span>rzymska pizza</span> we Wrocławiu</p>
<p>100 metrów od Rynku</p>
<p>20 miejsc w przytulnym wnętrzu</p>
<p>Wrocław, Kotlarska 25</p>
<p>tel 725 909 090</p>
</div>
</Layout>