---
import Menu from '../components/MenuMain.astro'
import Hamburger from "../components/Hamburger.astro"
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="pizzapizza Kotlarska 25 Wrocław 100 metrów od Rynku">
        <title>pizzapizza | Kotlarska 25 Wrocław</title>
    </head>
    <body>
        <div class="wrapper">
        <!-- <Menu /> -->
        <Hamburger />
        <main>
        <slot />
        </main>
        <Footer />
        </div>
    </body>
</html>